.loading {
    width: 100%;
    margin: 12px 0 10px;
}

.loading_bar {
    height: 4px;
    border-radius: 4px;
    background-color: #373352;
    position: relative;
}

.result_bar {
    height: 4px;
    border-radius:4px;
    width: 70%;
    background-color: #00D749;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    margin-top: 4px;
}